*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}
body{
    background-color: rgb(209, 202, 202);
}
.cantiner{
    background-color: #fff;
    justify-content: center;
    width: 80%;
    height: 100%;
    border: 2px double gray ;
    margin: 0% 10%;
    padding-left: 5px;
    margin-top: 30px;
}
.part{
    border: 1px solid green;
    border-radius: 5px;
    width: 98%;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.part1{
    display: flex;
    flex-direction: row;
}
.chap{
    border-right: 1px solid black;
    width: 70%;
    margin-right: 10px;
    padding-left: 15px;

}
.chap font{
    font-size: 15pt ;
    font-weight: bold;
    color: green;
    text-shadow: green;
}
a{
    color: rgb(51, 20, 186);
    font-weight: bold;

}
a:hover{
    background-color: lawngreen;
    padding: 5px;
    border-radius: 5px;
}
.part font{
    padding-top: 0;
    color: #999;
    text-shadow: #fff;
    font-size: 25px;
    font-family: sans-serif;
    width: 70%;
    font-weight: bold;

    
    


}
 .chap .f1{

    font-size: 15px;
    font-weight: bold;
    color: red;
    text-shadow: rosybrown;
 }
 .ong {
     color: rgb(51, 28, 153);
     padding-left: 15px;
     font-size: 20px;
     font-weight: bold;
 }

 li{
     margin-left: 13px;
     line-height: 30px;
 }
.ong li:hover{
    background-color: rgb(55, 122, 34);
    padding-left: 15px;
    border-radius: 9px;
    color: #fff;
    font-size: 17px;


}
.rasm1:hover{
    background-color: brown;
    cursor: pointer;
    font-size: 18px;
    color: chartreuse;
    border-radius: 25px;

    padding-left: 20px;
}

.part2{
    border: 8px double red;
    margin-right: 39px;
    padding: 10px 15px;
}

.salom{
    color: rgb(28, 11, 184);
    background-color: darkmagenta;
    font-size: 20px;
}
.salom:hover{
    cursor: pointer;
    background-color: darkred;
    color: white;
    padding-right: 20px;
}

.birikki:hover{
    background-color: red;
    color: rgb(63, 147, 153);
    font-size: 30px;
    padding-left: 25px;
    text-decoration: yellow;
